html {
    background-color: bisque;
}

.box, .box2, .box3, .box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}

.box2 {
    border: 10px solid #000;
    border-radius: 30px;
    background-color:aquamarine;

}

.box3 {
    flex-direction: row;
    justify-content: space-around; 
    border: 10px solid #000;
    border-radius: 30px;
    background-color: antiquewhite;
}

.box3 img {
    width: 100px; 
    height: auto;
    animation: spin 4s infinite linear;
}

.box4 {
    border: 10px solid #000;
    border-radius: 30px;
    background-color:rgb(255, 196, 0);

}

.box4 p {
    font-weight: bold;
    font-size: 30px;
    color: #030f58;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 990px) {
    .box, .box2, .box3, .box4 {
        width: 100%;
        margin: 5px;
        padding: 15px;
    }

    .box3 {
        flex: row;
    }

    .box3 img {
        width: 80px;
    }

    .box4 p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .box3 {
        flex-direction: column;
    }

    .box3 img {
        width: 60px;
        margin-bottom: 10px; 
    }

    .box4 p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {

    .box, .box1, .box2, .box3, .box4 {
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        flex-direction: row; 
        margin: 2px;
        padding: 5px;
        width: 95%; 
    }

    .box2 {
        flex-direction: column;
        border: 4px solid #000;
        border-radius: 10px;
    }

    .box3 {
        border: 4px solid #000;
        border-radius: 10px;
    }

    .box3 img {
        /* width: 50px; */
        width: 30%; 

    }

    .box4 {
        border: 4px solid #000;
        border-radius: 10px;
    }

    .box4 p {

        font-size: 18px;
    }

}
